<div>
    <a href="/"><button>Home</button></a> <a href="/profile"><button>Your profile</button></a> <a href="/logout"><button>Logout</button></a>
    <h1>Current session💻</h1>
    <p>Role: {{capitalize user.role}}</p>
    <p>Name: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
</div>