<div class="header-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/current">Current</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
<div class="body">
    <h1>Current session</h1>
    <p>Role: {{capitalize user.role}}</p>
    <p>Name: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
</div>