<div>
    <h1>Reset user password</h1>
    <h2>Please enter the email that you log in with</h2>
    <form id="requestForm">
        <label>Email</label>
        <input name="email">
        <a href="/check-email"><input type="submit" value="Continue" class="form-button"></a>
    </form>
</div>
<script src="/js/sendLinkBtn.js"></script>