<div>
    <h1>You are not logged in 🤔</h1>
    <h2>Login</h2>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br><br>
        <label>Password</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login">
    </form>
    <p>Not registered?<a href="/register">Sign up here👀</a></p>
    <a href="/"><button>Home</button></a>
</div>
<script src="/js/login.js"></script>