<div>
    <a href="/"><button>Home</button></a> <a href="/profile"><button>Profile</button></a> <a href="/current"><button>Current Session</button></a> <a href="/logout"><button>Logout</button></a>
    <h1>Your profile😎</h1>
    <p>Name: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Age: {{user.age}}</p>
</div>