<div>
    <h1>Sing up</h1>
    <form id="registerForm">

        <label>Name</label>
        <input name="first_name">
        <br><br>
        <label>Last name</label>
        <input name="last_name">
        <br><br>
        <label>Email</label>
        <input name="email">
        <br><br>
        <label>Age</label>
        <input name="age">
        <br><br>
        <label>Password</label>
        <input type="password" name="password">
        <br><br>
        <a href="/login"><input type="submit" value="Continue"></a>

    </form>
    <p>Already have an account? <a href="/login">Login here👀</a></p>
</div>
<script src="/js/register.js"></script>