<div>
    <h1>Reset user password</h1>
    <form id="resetPasswordForm">
        <label>Email</label>
        <input name="email">
        <br><br>
        <label>New password</label>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Continue">
    </form>
</div>

<script src="/js/resetPassword.js"></script>